.body {
  display: flex;
  font-family: "Poppins", serif;
  width: 100%;
  height: 100vh;
}


.brand {
  display: flex;
  align-items: center;
  gap: 2px;
  top: 3%;
  left: 3%;
  position: absolute;

}

.brand img {
  width: 25px;
  height: 32px;
}

.brand h1 {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 18px;
  font-weight: bold;
}

.brand .trademark {
  position: absolute;
  top: 8px;
  right: 0px;
  font-size: 5px;
}




.left {
  display: flex;
  flex: 2;
  padding-top: 100px;
  padding-bottom: 50px;
  align-items: center;
  flex-direction: column;
}




.cont {

  align-items: flex-start;
  flex-direction: column;
}

.image {
  flex: 1;

  background-image: url("/auth/auth.svg");

}

.image2 {
  flex: 1;
  height: 100vh;

  background-image: url("/auth/auth.svg");

}

.heading {
  margin-bottom: 50px;
  ;
}


.heading h1 {
  font-size: 48px;
  font-weight: 800;


}

.heading p {
  font-size: 16px;
  color: #676B5F;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 588px;
}



.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
}





.cInput {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 50px;
}



.input {
  padding: 10px;
  font-size: 10px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  font-size: 12px;
}

.input:focus {
  border-color: #4caf50;
  outline: none;

}

.errorBorder {
  border-color: #EE1D52 !important;
}

.error {
  font-size: 14px !important;
  margin-bottom: 12px !important;
  color: #EE1D52 !important;
  margin-top: 3px !important;
}

.submit,
.disableSubmit {
  margin-top: 30px;
  background-color: #28A263;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 64px;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  background-color: #2EBE76;
}

.disableSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c3c3c3;
  gap: 5px;

}


.defaultButton {
  padding: 17px 20px;
}


.container {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;

}

.defaultButton {
  border: 1px solid #E0E2D9;
  border-radius: 24px;
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.defaultButton:hover {
  background-color: #f0f0f0;
}

.selectedButton {
  background-color: #28A263;
  color: white;
  border-radius: 24px;
  font-size: 14px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
}


@media screen and (max-width: 650px) {

  .image2,
  .image {
    display: none;
  }

  .left {

    width: 100%;
    flex: 1;

  }


  .cont {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5%;
  }


  .heading {
    margin-bottom: 30px;
    ;
  }


  .heading h1 {
    font-size: 20px;
    font-weight: 800;


  }

  .heading p {
    font-size: 10px;
    color: #676B5F;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }



  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 10px;
  }





  .cInput {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
    width: 100%;
  }



  .input {
    padding: 10px;
    width: 70%;
    height: 12px;
    background-color: transparent;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    font-size: 10px;
  }

  .input:focus {
    border-color: #4caf50;
    outline: none;

  }

  .submit,
  .disableSubmit {
    margin-top: 30px;
    background-color: #28A263;
    color: #fff;

    border: none;
    width: 80%;
    border-radius: 64px;
    font-size: 12px;
    cursor: pointer;
  }

  .submit:hover {
    background-color: #2EBE76;
  }

  .disableSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3c3c3;
    gap: 5px;

  }

  .container {
    text-align: center;

    margin: auto;
  }

  .gridContainer {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;

  }

  .defaultButton {
    border: 1px solid #E0E2D9;
    border-radius: 24px;
    background-color: white;
    color: black;
    font-size: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .defaultButton:hover {
    background-color: #f0f0f0;
  }

  .selectedButton {
    background-color: #28A263;
    color: white;
    border-radius: 24px;
    font-size: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    cursor: pointer;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 2px;
    top: 3%;
    left: 3%;
    position: absolute;

  }

  .brand img {
    width: 20px;
    height: 28px;
  }

  .brand h1 {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 15px;
    font-weight: bold;
  }

  .brand span {
    font-size: 10px;
    border: 1px solid black;


  }


}