.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 741px;
  border: black solid 10px;
  border-radius: 50px;
  z-index: 2;
  
}

/* Banner Section */
.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 237px;
  z-index: 0;
  background-color: #342B26;
  border-radius: 40px;

 
  position: relative;
}



.spinner {
  margin-top: 40%;
}

.share {
  width: 41px;
  height: 41px;
  border-radius: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.shareimg {
  width: 16px;
  height: 16px;
}

.pfpimg {
  width: 96px;
  height: 96px;
  border-radius: 50%;

  background-color: white;


}

.spinner {
  margin-top: 40%;
}

.username {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

/* Buttons Section */

.buttonGroup {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
 
  width: 100%;
  align-items: center;
}
.type {
  width: 100%;
  display: flex;
  justify-content: center;
 
}









.bottom {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3%;
  gap: 10px;

}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.connected {
  width: 172px;
  height: 34px;
  border-radius: 30px;
  background-color: #35CA7D;
  color: white;
}

.connected:hover {
  opacity: 0.8;
}

.shopPrev {
  width: 277px;
  height: 160px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #D9D9D9;
  border-radius: 18px;
  gap: 5px;
  
}

.shopPrev p {
  font-size: 14px;
}
.shopImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 89px;
  color: #5b5656;
  background-color: white;
  border-radius: 9px;
  
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 30px;
  border-radius: 8px;
  background-color: #28A263;
  color: white;
  gap: 10px;
  font-size: 11px;

}




.cart:hover {
  opacity: 0.8;
}


@media screen and (max-width: 650px) {  

  .preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 741px;
    border: none;
    border-radius: 50px;
    z-index: 2;
    
  

  }

  .cPreview {
   
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 5%;
    padding-bottom: 20%;
  }
  


 }